In [4]:
!ls

ad_feature.csv	Spark_sql.ipynb  test1.csv  user_profile.csv  电商推荐.ipynb
raw_sample.csv	spark-warehouse  test5.csv  电商推荐1.ipynb   推荐概述.ipynb

In [5]:
!hadoop fs -ls /

Found 15 items
-rw-r--r--   1 root supergroup      88444 2021-03-29 21:19 /USA.json
drwxr-xr-x   - root supergroup          0 2021-08-12 15:16 /checkPoint
drwxr-xr-x   - root supergroup          0 2021-04-10 20:09 /data
drwxr-xr-x   - root supergroup          0 2022-08-12 15:25 /hbase
drwxr-xr-x   - root supergroup          0 2021-04-25 15:05 /headlines
-rw-r--r--   1 root supergroup       4662 2021-03-26 20:22 /iris.csv
drwxr-xr-x   - root supergroup          0 2022-08-11 15:00 /output
drwxr-xr-x   - root supergroup          0 2022-05-19 16:10 /output1
drwxr-xr-x   - root supergroup          0 2022-08-11 15:16 /output2
drwxr-xr-x   - root supergroup          0 2022-05-17 11:02 /py5
-rw-r--r--   1 root supergroup   22924462 2021-03-30 20:50 /raw_nyc_phil.json
drwxr-xr-x   - root supergroup          0 2022-08-13 11:34 /spark
drwx------   - root supergroup          0 2022-08-12 14:57 /tmp
drwxr-xr-x   - root supergroup          0 2020-12-16 11:12 /user
-rw-r--r--   1 root supergroup         42 2022-05-17 11:03 /words

In [6]:
!which python

/miniconda2/envs/py365/bin/python

In [7]:
import os
# 配置spark driver和pyspark运行时，所使用的python解释器路径
PYSPARK_PYTHON = "/miniconda2/envs/py365/bin/python"
JAVA_HOME='/root/bigdata/jdk'
# 当存在多个版本时，不指定很可能会导致出错
os.environ["PYSPARK_PYTHON"] = PYSPARK_PYTHON
os.environ["PYSPARK_DRIVER_PYTHON"] = PYSPARK_PYTHON
os.environ['JAVA_HOME']=JAVA_HOME
# spark配置信息
from pyspark import SparkConf
from pyspark.sql import SparkSession
import pyspark.sql.functions as fn

#注意先启动standalone模式
# ./start-master.sh -h 192.168.19.137
#  ./start-slave.sh spark://192.168.19.137:7077
SPARK_APP_NAME = "preprocessingBehaviorLog"
SPARK_URL = "spark://192.168.19.137:7077"

conf = SparkConf()    # 创建spark conf对象，把config设置到conf中，conf传入config
config = (
	("spark.app.name", SPARK_APP_NAME),    # 设置启动的spark的app名称，没有提供，将随机产生一个名称
	("spark.executor.memory", "6g"),    # 设置该app启动时占用的内存用量，默认1g
	("spark.master", SPARK_URL),    # spark 集群地址
    ("spark.executor.cores", "2"),    # 设置spark executor使用的CPU核心数
    # 以下三项配置，可以控制执行器数量
#     ("spark.dynamicAllocation.enabled", True),
#     ("spark.dynamicAllocation.initialExecutors", 1),    # 1个执行器
#     ("spark.shuffle.service.enabled", True)
# 	('spark.sql.pivotMaxValues', '99999'),  # 当需要pivot DF，且值很多时，需要修改，默认是10000
)
# 查看更详细配置及说明：https://spark.apache.org/docs/latest/configuration.html

conf.setAll(config)

# 利用config对象，创建spark session
spark = SparkSession.builder.config(conf=conf).getOrCreate()

In [ ]:
# 下面的代码大纲
# 1、通过rdd创建df
# 2、通过读取csv得到df
# 3、df的groupby等各种聚合操作
# 4、df的udf（自定义函数）操作
# 5、读取JSON格式数据变为df
# 6、df进行数据清洗

# 1、通过rdd创建df

In [8]:
#通过RDD来创建Datarame
#创建Datarase需要有sparg session
#创刨建RDD蒜要sparkcontext

from pyspark.sql import Row

sc = spark.sparkContext
# spark.conf.set("spark.sql.shuffle.partitions", 6)
# ================直接创建==========================
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
#为数据添加列名，Row是一个row对象，df需要每一行都是一个Row对象
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
#创建DataFrame
schemaPeople = spark.createDataFrame(people)

In [9]:
schemaPeople

DataFrame[age: bigint, name: string]

In [10]:
schemaPeople.show()

+---+--------+
|age|    name|
+---+--------+
| 25|   Ankit|
| 22|Jalfaizy|
| 20| saurabh|
| 26|    Bala|
+---+--------+

# 2、通过读取csv得到df

In [45]:
#默认从hadoop的根加载数据，读取时需要头部option("header", "true")
df = spark.read.format("csv").option("header", "true").load("/iris.csv")

In [12]:
df

DataFrame[id: string, SepalLength: string, SepalWidth: string, PetalLength: string, PetalWidth: string, Species: string, cls: string]

In [13]:
df.count()

150

In [14]:
df.columns

['id',
 'SepalLength',
 'SepalWidth',
 'PetalLength',
 'PetalWidth',
 'Species',
 'cls']

In [15]:
# ===============增加一列(或者替换) withColumn===========
#定义一个新的列，数据为其他某列数据的两倍
#如果操作的是原有列，可以替换原有列的数据
df.withColumn('newWidth',df.SepalWidth * 2).show()

+---+-----------+----------+-----------+----------+-------+---+--------+
| id|SepalLength|SepalWidth|PetalLength|PetalWidth|Species|cls|newWidth|
+---+-----------+----------+-----------+----------+-------+---+--------+
|  1|        5.1|       3.5|        1.4|       0.2| setosa|  0|     7.0|
|  2|        4.9|         3|        1.4|       0.2| setosa|  0|     6.0|
|  3|        4.7|       3.2|        1.3|       0.2| setosa|  0|     6.4|
|  4|        4.6|       3.1|        1.5|       0.2| setosa|  0|     6.2|
|  5|          5|       3.6|        1.4|       0.2| setosa|  0|     7.2|
|  6|        5.4|       3.9|        1.7|       0.4| setosa|  0|     7.8|
|  7|        4.6|       3.4|        1.4|       0.3| setosa|  0|     6.8|
|  8|          5|       3.4|        1.5|       0.2| setosa|  0|     6.8|
|  9|        4.4|       2.9|        1.4|       0.2| setosa|  0|     5.8|
| 10|        4.9|       3.1|        1.5|       0.1| setosa|  0|     6.2|
| 11|        5.4|       3.7|        1.5|       0.2| setosa|  0|     7.4|
| 12|        4.8|       3.4|        1.6|       0.2| setosa|  0|     6.8|
| 13|        4.8|         3|        1.4|       0.1| setosa|  0|     6.0|
| 14|        4.3|         3|        1.1|       0.1| setosa|  0|     6.0|
| 15|        5.8|         4|        1.2|       0.2| setosa|  0|     8.0|
| 16|        5.7|       4.4|        1.5|       0.4| setosa|  0|     8.8|
| 17|        5.4|       3.9|        1.3|       0.4| setosa|  0|     7.8|
| 18|        5.1|       3.5|        1.4|       0.3| setosa|  0|     7.0|
| 19|        5.7|       3.8|        1.7|       0.3| setosa|  0|     7.6|
| 20|        5.1|       3.8|        1.5|       0.3| setosa|  0|     7.6|
+---+-----------+----------+-----------+----------+-------+---+--------+
only showing top 20 rows

In [16]:
# ==========删除一列  drop=========================
#删除一列
df.drop('cls').show()

+---+-----------+----------+-----------+----------+-------+
| id|SepalLength|SepalWidth|PetalLength|PetalWidth|Species|
+---+-----------+----------+-----------+----------+-------+
|  1|        5.1|       3.5|        1.4|       0.2| setosa|
|  2|        4.9|         3|        1.4|       0.2| setosa|
|  3|        4.7|       3.2|        1.3|       0.2| setosa|
|  4|        4.6|       3.1|        1.5|       0.2| setosa|
|  5|          5|       3.6|        1.4|       0.2| setosa|
|  6|        5.4|       3.9|        1.7|       0.4| setosa|
|  7|        4.6|       3.4|        1.4|       0.3| setosa|
|  8|          5|       3.4|        1.5|       0.2| setosa|
|  9|        4.4|       2.9|        1.4|       0.2| setosa|
| 10|        4.9|       3.1|        1.5|       0.1| setosa|
| 11|        5.4|       3.7|        1.5|       0.2| setosa|
| 12|        4.8|       3.4|        1.6|       0.2| setosa|
| 13|        4.8|         3|        1.4|       0.1| setosa|
| 14|        4.3|         3|        1.1|       0.1| setosa|
| 15|        5.8|         4|        1.2|       0.2| setosa|
| 16|        5.7|       4.4|        1.5|       0.4| setosa|
| 17|        5.4|       3.9|        1.3|       0.4| setosa|
| 18|        5.1|       3.5|        1.4|       0.3| setosa|
| 19|        5.7|       3.8|        1.7|       0.3| setosa|
| 20|        5.1|       3.8|        1.5|       0.3| setosa|
+---+-----------+----------+-----------+----------+-------+
only showing top 20 rows

In [17]:
df.show() #原有的df并没有变，因为df不可变

+---+-----------+----------+-----------+----------+-------+---+
| id|SepalLength|SepalWidth|PetalLength|PetalWidth|Species|cls|
+---+-----------+----------+-----------+----------+-------+---+
|  1|        5.1|       3.5|        1.4|       0.2| setosa|  0|
|  2|        4.9|         3|        1.4|       0.2| setosa|  0|
|  3|        4.7|       3.2|        1.3|       0.2| setosa|  0|
|  4|        4.6|       3.1|        1.5|       0.2| setosa|  0|
|  5|          5|       3.6|        1.4|       0.2| setosa|  0|
|  6|        5.4|       3.9|        1.7|       0.4| setosa|  0|
|  7|        4.6|       3.4|        1.4|       0.3| setosa|  0|
|  8|          5|       3.4|        1.5|       0.2| setosa|  0|
|  9|        4.4|       2.9|        1.4|       0.2| setosa|  0|
| 10|        4.9|       3.1|        1.5|       0.1| setosa|  0|
| 11|        5.4|       3.7|        1.5|       0.2| setosa|  0|
| 12|        4.8|       3.4|        1.6|       0.2| setosa|  0|
| 13|        4.8|         3|        1.4|       0.1| setosa|  0|
| 14|        4.3|         3|        1.1|       0.1| setosa|  0|
| 15|        5.8|         4|        1.2|       0.2| setosa|  0|
| 16|        5.7|       4.4|        1.5|       0.4| setosa|  0|
| 17|        5.4|       3.9|        1.3|       0.4| setosa|  0|
| 18|        5.1|       3.5|        1.4|       0.3| setosa|  0|
| 19|        5.7|       3.8|        1.7|       0.3| setosa|  0|
| 20|        5.1|       3.8|        1.5|       0.3| setosa|  0|
+---+-----------+----------+-----------+----------+-------+---+
only showing top 20 rows

In [50]:
df_newiris=df.withColumn('newid',df.id * 1)

In [51]:
df_newiris.describe().show()

+-------+------------------+------------------+-------------------+------------------+------------------+---------+------------------+------------------+
|summary|                id|       SepalLength|         SepalWidth|       PetalLength|        PetalWidth|  Species|               cls|             newid|
+-------+------------------+------------------+-------------------+------------------+------------------+---------+------------------+------------------+
|  count|               150|               150|                150|               150|               150|      150|               150|               150|
|   mean|              75.5| 5.843333333333335|  3.057333333333334|3.7580000000000027| 1.199333333333334|     null|               1.0|              75.5|
| stddev|43.445367992456916|0.8280661279778637|0.43586628493669793|1.7652982332594662|0.7622376689603467|     null|0.8192319205190406|43.445367992456916|
|    min|                 1|               4.3|                  2|                 1|               0.1|   setosa|                 0|               1.0|
|    max|                99|               7.9|                4.4|               6.9|               2.5|virginica|                 2|             150.0|
+-------+------------------+------------------+-------------------+------------------+------------------+---------+------------------+------------------+

In [18]:
#================ 统计信息 describe================
df.describe().show()  #未转为整型，字符串的最大值是99
#计算某一列的描述信息
df.describe('cls').show()

+-------+------------------+------------------+-------------------+------------------+------------------+---------+------------------+
|summary|                id|       SepalLength|         SepalWidth|       PetalLength|        PetalWidth|  Species|               cls|
+-------+------------------+------------------+-------------------+------------------+------------------+---------+------------------+
|  count|               150|               150|                150|               150|               150|      150|               150|
|   mean|              75.5| 5.843333333333335|  3.057333333333334|3.7580000000000027| 1.199333333333334|     null|               1.0|
| stddev|43.445367992456916|0.8280661279778637|0.43586628493669793|1.7652982332594662|0.7622376689603467|     null|0.8192319205190406|
|    min|                 1|               4.3|                  2|                 1|               0.1|   setosa|                 0|
|    max|                99|               7.9|                4.4|               6.9|               2.5|virginica|                 2|
+-------+------------------+------------------+-------------------+------------------+------------------+---------+------------------+

+-------+------------------+
|summary|               cls|
+-------+------------------+
|  count|               150|
|   mean|               1.0|
| stddev|0.8192319205190406|
|    min|                 0|
|    max|                 2|
+-------+------------------+

In [19]:
# ===============提取部分列 select==============
df.select('SepalLength','SepalWidth').show()

+-----------+----------+
|SepalLength|SepalWidth|
+-----------+----------+
|        5.1|       3.5|
|        4.9|         3|
|        4.7|       3.2|
|        4.6|       3.1|
|          5|       3.6|
|        5.4|       3.9|
|        4.6|       3.4|
|          5|       3.4|
|        4.4|       2.9|
|        4.9|       3.1|
|        5.4|       3.7|
|        4.8|       3.4|
|        4.8|         3|
|        4.3|         3|
|        5.8|         4|
|        5.7|       4.4|
|        5.4|       3.9|
|        5.1|       3.5|
|        5.7|       3.8|
|        5.1|       3.8|
+-----------+----------+
only showing top 20 rows

In [20]:
# ==================基本统计功能 distinct count=====
df.select('cls').distinct().count()

3

In [21]:
# 分组统计 groupby(colname).agg({'col':'fun','col2':'fun2'})
df.groupby('cls').agg({'SepalWidth':'mean','SepalLength':'max'}).show()

# avg(), count(), countDistinct(), first(), kurtosis(),
# max(), mean(), min(), skewness(), stddev(), stddev_pop(),
# stddev_samp(), sum(), sumDistinct(), var_pop(), var_samp() and variance()

+---+----------------+------------------+
|cls|max(SepalLength)|   avg(SepalWidth)|
+---+----------------+------------------+
|  0|             5.8| 3.428000000000001|
|  1|               7|2.7700000000000005|
|  2|             7.9|2.9739999999999998|
+---+----------------+------------------+

In [22]:
help(fn)

Help on module pyspark.sql.functions in pyspark.sql:

NAME
    pyspark.sql.functions - A collections of builtin functions

FUNCTIONS
    abs(col)
        Computes the absolute value.

        .. versionadded:: 1.3

    acos(col)
        Computes the cosine inverse of the given value; the returned angle is in the range0.0 through pi.

        .. versionadded:: 1.4

    add_months(start, months)
        Returns the date that is `months` months after `start`

        >>> df = spark.createDataFrame([('2015-04-08',)], ['d'])
        >>> df.select(add_months(df.d, 1).alias('d')).collect()
        [Row(d=datetime.date(2015, 5, 8))]

        .. versionadded:: 1.5

    approxCountDistinct(col, rsd=None)
        .. note:: Deprecated in 2.1, use approx_count_distinct instead.

        .. versionadded:: 1.3

    approx_count_distinct(col, rsd=None)
        Returns a new :class:`Column` for approximate distinct count of ``col``.

        >>> df.agg(approx_count_distinct(df.age).alias('c')).collect()
        [Row(c=2)]

        .. versionadded:: 2.1

    array(*cols)
        Creates a new array column.

        :param cols: list of column names (string) or list of :class:`Column` expressions that have
            the same data type.

        >>> df.select(array('age', 'age').alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]
        >>> df.select(array([df.age, df.age]).alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]

        .. versionadded:: 1.4

    array_contains(col, value)
        Collection function: returns null if the array is null, true if the array contains the
        given value, and false otherwise.

        :param col: name of column containing array
        :param value: value to check for in array

        >>> df = spark.createDataFrame([(["a", "b", "c"],), ([],)], ['data'])
        >>> df.select(array_contains(df.data, "a")).collect()
        [Row(array_contains(data, a)=True), Row(array_contains(data, a)=False)]

        .. versionadded:: 1.5

    asc(col)
        Returns a sort expression based on the ascending order of the given column name.

        .. versionadded:: 1.3

    ascii(col)
        Computes the numeric value of the first character of the string column.

        .. versionadded:: 1.5

    asin(col)
        Computes the sine inverse of the given value; the returned angle is in the range-pi/2 through pi/2.

        .. versionadded:: 1.4

    atan(col)
        Computes the tangent inverse of the given value.

        .. versionadded:: 1.4

    atan2(col1, col2)
        Returns the angle theta from the conversion of rectangular coordinates (x, y) topolar coordinates (r, theta).

        .. versionadded:: 1.4

    avg(col)
        Aggregate function: returns the average of the values in a group.

        .. versionadded:: 1.3

    base64(col)
        Computes the BASE64 encoding of a binary column and returns it as a string column.

        .. versionadded:: 1.5

    bin(col)
        Returns the string representation of the binary value of the given column.

        >>> df.select(bin(df.age).alias('c')).collect()
        [Row(c='10'), Row(c='101')]

        .. versionadded:: 1.5

    bitwiseNOT(col)
        Computes bitwise not.

        .. versionadded:: 1.4

    broadcast(df)
        Marks a DataFrame as small enough for use in broadcast joins.

        .. versionadded:: 1.6

    bround(col, scale=0)
        Round the given value to `scale` decimal places using HALF_EVEN rounding mode if `scale` >= 0
        or at integral part when `scale` < 0.

        >>> spark.createDataFrame([(2.5,)], ['a']).select(bround('a', 0).alias('r')).collect()
        [Row(r=2.0)]

        .. versionadded:: 2.0

    cbrt(col)
        Computes the cube-root of the given value.

        .. versionadded:: 1.4

    ceil(col)
        Computes the ceiling of the given value.

        .. versionadded:: 1.4

    coalesce(*cols)
        Returns the first column that is not null.

        >>> cDf = spark.createDataFrame([(None, None), (1, None), (None, 2)], ("a", "b"))
        >>> cDf.show()
        +----+----+
        |   a|   b|
        +----+----+
        |null|null|
        |   1|null|
        |null|   2|
        +----+----+

        >>> cDf.select(coalesce(cDf["a"], cDf["b"])).show()
        +--------------+
        |coalesce(a, b)|
        +--------------+
        |          null|
        |             1|
        |             2|
        +--------------+

        >>> cDf.select('*', coalesce(cDf["a"], lit(0.0))).show()
        +----+----+----------------+
        |   a|   b|coalesce(a, 0.0)|
        +----+----+----------------+
        |null|null|             0.0|
        |   1|null|             1.0|
        |null|   2|             0.0|
        +----+----+----------------+

        .. versionadded:: 1.4

    col(col)
        Returns a :class:`Column` based on the given column name.

        .. versionadded:: 1.3

    collect_list(col)
        Aggregate function: returns a list of objects with duplicates.

        .. versionadded:: 1.6

    collect_set(col)
        Aggregate function: returns a set of objects with duplicate elements eliminated.

        .. versionadded:: 1.6

    column(col)
        Returns a :class:`Column` based on the given column name.

        .. versionadded:: 1.3

    concat(*cols)
        Concatenates multiple input string columns together into a single string column.

        >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
        >>> df.select(concat(df.s, df.d).alias('s')).collect()
        [Row(s='abcd123')]

        .. versionadded:: 1.5

    concat_ws(sep, *cols)
        Concatenates multiple input string columns together into a single string column,
        using the given separator.

        >>> df = spark.createDataFrame([('abcd','123')], ['s', 'd'])
        >>> df.select(concat_ws('-', df.s, df.d).alias('s')).collect()
        [Row(s='abcd-123')]

        .. versionadded:: 1.5

    conv(col, fromBase, toBase)
        Convert a number in a string column from one base to another.

        >>> df = spark.createDataFrame([("010101",)], ['n'])
        >>> df.select(conv(df.n, 2, 16).alias('hex')).collect()
        [Row(hex='15')]

        .. versionadded:: 1.5

    corr(col1, col2)
        Returns a new :class:`Column` for the Pearson Correlation Coefficient for ``col1``
        and ``col2``.

        >>> a = range(20)
        >>> b = [2 * x for x in range(20)]
        >>> df = spark.createDataFrame(zip(a, b), ["a", "b"])
        >>> df.agg(corr("a", "b").alias('c')).collect()
        [Row(c=1.0)]

        .. versionadded:: 1.6

    cos(col)
        Computes the cosine of the given value.

        .. versionadded:: 1.4

    cosh(col)
        Computes the hyperbolic cosine of the given value.

        .. versionadded:: 1.4

    count(col)
        Aggregate function: returns the number of items in a group.

        .. versionadded:: 1.3

    countDistinct(col, *cols)
        Returns a new :class:`Column` for distinct count of ``col`` or ``cols``.

        >>> df.agg(countDistinct(df.age, df.name).alias('c')).collect()
        [Row(c=2)]

        >>> df.agg(countDistinct("age", "name").alias('c')).collect()
        [Row(c=2)]

        .. versionadded:: 1.3

    covar_pop(col1, col2)
        Returns a new :class:`Column` for the population covariance of ``col1``
        and ``col2``.

        >>> a = [1] * 10
        >>> b = [1] * 10
        >>> df = spark.createDataFrame(zip(a, b), ["a", "b"])
        >>> df.agg(covar_pop("a", "b").alias('c')).collect()
        [Row(c=0.0)]

        .. versionadded:: 2.0

    covar_samp(col1, col2)
        Returns a new :class:`Column` for the sample covariance of ``col1``
        and ``col2``.

        >>> a = [1] * 10
        >>> b = [1] * 10
        >>> df = spark.createDataFrame(zip(a, b), ["a", "b"])
        >>> df.agg(covar_samp("a", "b").alias('c')).collect()
        [Row(c=0.0)]

        .. versionadded:: 2.0

    crc32(col)
        Calculates the cyclic redundancy check value  (CRC32) of a binary column and
        returns the value as a bigint.

        >>> spark.createDataFrame([('ABC',)], ['a']).select(crc32('a').alias('crc32')).collect()
        [Row(crc32=2743272264)]

        .. versionadded:: 1.5

    create_map(*cols)
        Creates a new map column.

        :param cols: list of column names (string) or list of :class:`Column` expressions that grouped
            as key-value pairs, e.g. (key1, value1, key2, value2, ...).

        >>> df.select(create_map('name', 'age').alias("map")).collect()
        [Row(map={'Alice': 2}), Row(map={'Bob': 5})]
        >>> df.select(create_map([df.name, df.age]).alias("map")).collect()
        [Row(map={'Alice': 2}), Row(map={'Bob': 5})]

        .. versionadded:: 2.0

    cume_dist()
        Window function: returns the cumulative distribution of values within a window partition,
        i.e. the fraction of rows that are below the current row.

        .. versionadded:: 1.6

    current_date()
        Returns the current date as a date column.

        .. versionadded:: 1.5

    current_timestamp()
        Returns the current timestamp as a timestamp column.

    date_add(start, days)
        Returns the date that is `days` days after `start`

        >>> df = spark.createDataFrame([('2015-04-08',)], ['d'])
        >>> df.select(date_add(df.d, 1).alias('d')).collect()
        [Row(d=datetime.date(2015, 4, 9))]

        .. versionadded:: 1.5

    date_format(date, format)
        Converts a date/timestamp/string to a value of string in the format specified by the date
        format given by the second argument.

        A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
        pattern letters of the Java class `java.text.SimpleDateFormat` can be used.

        .. note:: Use when ever possible specialized functions like `year`. These benefit from a
            specialized implementation.

        >>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
        >>> df.select(date_format('a', 'MM/dd/yyy').alias('date')).collect()
        [Row(date='04/08/2015')]

        .. versionadded:: 1.5

    date_sub(start, days)
        Returns the date that is `days` days before `start`

        >>> df = spark.createDataFrame([('2015-04-08',)], ['d'])
        >>> df.select(date_sub(df.d, 1).alias('d')).collect()
        [Row(d=datetime.date(2015, 4, 7))]

        .. versionadded:: 1.5

    datediff(end, start)
        Returns the number of days from `start` to `end`.

        >>> df = spark.createDataFrame([('2015-04-08','2015-05-10')], ['d1', 'd2'])
        >>> df.select(datediff(df.d2, df.d1).alias('diff')).collect()
        [Row(diff=32)]

        .. versionadded:: 1.5

    dayofmonth(col)
        Extract the day of the month of a given date as integer.

        >>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
        >>> df.select(dayofmonth('a').alias('day')).collect()
        [Row(day=8)]

        .. versionadded:: 1.5

    dayofyear(col)
        Extract the day of the year of a given date as integer.

        >>> df = spark.createDataFrame([('2015-04-08',)], ['a'])
        >>> df.select(dayofyear('a').alias('day')).collect()
        [Row(day=98)]

        .. versionadded:: 1.5

    decode(col, charset)
        Computes the first argument into a string from a binary using the provided character set
        (one of 'US-ASCII', 'ISO-8859-1', 'UTF-8', 'UTF-16BE', 'UTF-16LE', 'UTF-16').

        .. versionadded:: 1.5

    degrees(col)
        Converts an angle measured in radians to an approximately equivalent angle measured in degrees.

        .. versionadded:: 2.1

    dense_rank()
        Window function: returns the rank of rows within a window partition, without any gaps.

        The difference between rank and dense_rank is that dense_rank leaves no gaps in ranking
        sequence when there are ties. That is, if you were ranking a competition using dense_rank
        and had three people tie for second place, you would say that all three were in second
        place and that the next person came in third. Rank would give me sequential numbers, making
        the person that came in third place (after the ties) would register as coming in fifth.

        This is equivalent to the DENSE_RANK function in SQL.

        .. versionadded:: 1.6

    desc(col)
        Returns a sort expression based on the descending order of the given column name.

        .. versionadded:: 1.3

    encode(col, charset)
        Computes the first argument into a binary from a string using the provided character set
        (one of 'US-ASCII', 'ISO-8859-1', 'UTF-8', 'UTF-16BE', 'UTF-16LE', 'UTF-16').

        .. versionadded:: 1.5

    exp(col)
        Computes the exponential of the given value.

        .. versionadded:: 1.4

    explode(col)
        Returns a new row for each element in the given array or map.

        >>> from pyspark.sql import Row
        >>> eDF = spark.createDataFrame([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
        >>> eDF.select(explode(eDF.intlist).alias("anInt")).collect()
        [Row(anInt=1), Row(anInt=2), Row(anInt=3)]

        >>> eDF.select(explode(eDF.mapfield).alias("key", "value")).show()
        +---+-----+
        |key|value|
        +---+-----+
        |  a|    b|
        +---+-----+

        .. versionadded:: 1.4

    expm1(col)
        Computes the exponential of the given value minus one.

        .. versionadded:: 1.4

    expr(str)
        Parses the expression string into the column that it represents

        >>> df.select(expr("length(name)")).collect()
        [Row(length(name)=5), Row(length(name)=3)]

        .. versionadded:: 1.5

    factorial(col)
        Computes the factorial of the given value.

        >>> df = spark.createDataFrame([(5,)], ['n'])
        >>> df.select(factorial(df.n).alias('f')).collect()
        [Row(f=120)]

        .. versionadded:: 1.5

    first(col, ignorenulls=False)
        Aggregate function: returns the first value in a group.

        The function by default returns the first values it sees. It will return the first non-null
        value it sees when ignoreNulls is set to true. If all values are null, then null is returned.

        .. versionadded:: 1.3

    floor(col)
        Computes the floor of the given value.

        .. versionadded:: 1.4

    format_number(col, d)
        Formats the number X to a format like '#,--#,--#.--', rounded to d decimal places
        with HALF_EVEN round mode, and returns the result as a string.

        :param col: the column name of the numeric value to be formatted
        :param d: the N decimal places

        >>> spark.createDataFrame([(5,)], ['a']).select(format_number('a', 4).alias('v')).collect()
        [Row(v='5.0000')]

        .. versionadded:: 1.5

    format_string(format, *cols)
        Formats the arguments in printf-style and returns the result as a string column.

        :param col: the column name of the numeric value to be formatted
        :param d: the N decimal places

        >>> df = spark.createDataFrame([(5, "hello")], ['a', 'b'])
        >>> df.select(format_string('%d %s', df.a, df.b).alias('v')).collect()
        [Row(v='5 hello')]

        .. versionadded:: 1.5

    from_json(col, schema, options={})
        Parses a column containing a JSON string into a [[StructType]] or [[ArrayType]]
        of [[StructType]]s with the specified schema. Returns `null`, in the case of an unparseable
        string.

        :param col: string column in json format
        :param schema: a StructType or ArrayType of StructType to use when parsing the json column
        :param options: options to control parsing. accepts the same options as the json datasource

        >>> from pyspark.sql.types import *
        >>> data = [(1, '''{"a": 1}''')]
        >>> schema = StructType([StructField("a", IntegerType())])
        >>> df = spark.createDataFrame(data, ("key", "value"))
        >>> df.select(from_json(df.value, schema).alias("json")).collect()
        [Row(json=Row(a=1))]
        >>> data = [(1, '''[{"a": 1}]''')]
        >>> schema = ArrayType(StructType([StructField("a", IntegerType())]))
        >>> df = spark.createDataFrame(data, ("key", "value"))
        >>> df.select(from_json(df.value, schema).alias("json")).collect()
        [Row(json=[Row(a=1)])]

        .. versionadded:: 2.1

    from_unixtime(timestamp, format='yyyy-MM-dd HH:mm:ss')
        Converts the number of seconds from unix epoch (1970-01-01 00:00:00 UTC) to a string
        representing the timestamp of that moment in the current system time zone in the given
        format.

        .. versionadded:: 1.5

    from_utc_timestamp(timestamp, tz)
        Given a timestamp, which corresponds to a certain time of day in UTC, returns another timestamp
        that corresponds to the same time of day in the given timezone.

        >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
        >>> df.select(from_utc_timestamp(df.t, "PST").alias('t')).collect()
        [Row(t=datetime.datetime(1997, 2, 28, 2, 30))]

        .. versionadded:: 1.5

    get_json_object(col, path)
        Extracts json object from a json string based on json path specified, and returns json string
        of the extracted json object. It will return null if the input json string is invalid.

        :param col: string column in json format
        :param path: path to the json object to extract

        >>> data = [("1", '''{"f1": "value1", "f2": "value2"}'''), ("2", '''{"f1": "value12"}''')]
        >>> df = spark.createDataFrame(data, ("key", "jstring"))
        >>> df.select(df.key, get_json_object(df.jstring, '$.f1').alias("c0"), \
        ...                   get_json_object(df.jstring, '$.f2').alias("c1") ).collect()
        [Row(key='1', c0='value1', c1='value2'), Row(key='2', c0='value12', c1=None)]

        .. versionadded:: 1.6

    greatest(*cols)
        Returns the greatest value of the list of column names, skipping null values.
        This function takes at least 2 parameters. It will return null iff all parameters are null.

        >>> df = spark.createDataFrame([(1, 4, 3)], ['a', 'b', 'c'])
        >>> df.select(greatest(df.a, df.b, df.c).alias("greatest")).collect()
        [Row(greatest=4)]

        .. versionadded:: 1.5

    grouping(col)
        Aggregate function: indicates whether a specified column in a GROUP BY list is aggregated
        or not, returns 1 for aggregated or 0 for not aggregated in the result set.

        >>> df.cube("name").agg(grouping("name"), sum("age")).orderBy("name").show()
        +-----+--------------+--------+
        | name|grouping(name)|sum(age)|
        +-----+--------------+--------+
        | null|             1|       7|
        |Alice|             0|       2|
        |  Bob|             0|       5|
        +-----+--------------+--------+

        .. versionadded:: 2.0

    grouping_id(*cols)
        Aggregate function: returns the level of grouping, equals to

           (grouping(c1) << (n-1)) + (grouping(c2) << (n-2)) + ... + grouping(cn)

        .. note:: The list of columns should match with grouping columns exactly, or empty (means all
            the grouping columns).

        >>> df.cube("name").agg(grouping_id(), sum("age")).orderBy("name").show()
        +-----+-------------+--------+
        | name|grouping_id()|sum(age)|
        +-----+-------------+--------+
        | null|            1|       7|
        |Alice|            0|       2|
        |  Bob|            0|       5|
        +-----+-------------+--------+

        .. versionadded:: 2.0

    hash(*cols)
        Calculates the hash code of given columns, and returns the result as an int column.

        >>> spark.createDataFrame([('ABC',)], ['a']).select(hash('a').alias('hash')).collect()
        [Row(hash=-757602832)]

        .. versionadded:: 2.0

    hex(col)

In [23]:
# 自定义的汇总方法
import pyspark.sql.functions as fn
#调用函数并起一个别名,fn内部有哪些函数可以在pycharm联想
df.agg(fn.count('SepalWidth').alias('width_count'),fn.countDistinct('cls').alias('distinct_cls_count')).show()

+-----------+------------------+
|width_count|distinct_cls_count|
+-----------+------------------+
|        150|                 3|
+-----------+------------------+

In [24]:
#====================数据集拆成两部分 randomSplit ===========
#设置数据比例将数据划分为两部分
trainDF, testDF = df.randomSplit([0.6, 0.4])

In [22]:
# ================采样数据 sample===========
#withReplacement：是否有放回的采样 第一个参数
#fraction：采样比例  第二个参数
#seed：随机种子 第三个参数
sdf = df.sample(False,0.2,100)

In [25]:
#查看两个数据集在类别上的差异 subtract，确保训练数据集覆盖了所有分类，输出为空是合理的
diff_in_train_test = testDF.select('cls').subtract(trainDF.select('cls'))
diff_in_train_test.distinct().show()

+---+
|cls|
+---+
+---+

In [22]:
# ================交叉表 crosstab=============
# 一行代表一个类别，这个类别中sepallength的分布式怎么样的
df.crosstab('cls','SepalLength').show()

+---------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|cls_SepalLength|4.3|4.4|4.5|4.6|4.7|4.8|4.9|  5|5.1|5.2|5.3|5.4|5.5|5.6|5.7|5.8|5.9|  6|6.1|6.2|6.3|6.4|6.5|6.6|6.7|6.8|6.9|  7|7.1|7.2|7.3|7.4|7.6|7.7|7.9|
+---------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|              2|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  1|  1|  3|  1|  2|  2|  2|  6|  5|  4|  0|  5|  2|  3|  0|  1|  3|  1|  1|  1|  4|  1|
|              1|  0|  0|  0|  0|  0|  0|  1|  2|  1|  1|  0|  1|  5|  5|  5|  3|  2|  4|  4|  2|  3|  2|  1|  2|  3|  1|  1|  1|  0|  0|  0|  0|  0|  0|  0|
|              0|  1|  3|  1|  4|  2|  5|  4|  8|  8|  3|  1|  5|  2|  0|  2|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
+---------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+

# 4、df的udf（自定义函数）操作

In [27]:
#================== 综合案例 + udf================
# 测试数据集中有些类别在训练集中是不存在的，找到这些数据集做后续处理
trainDF,testDF = df.randomSplit([0.99,0.01])

diff_in_train_test = trainDF.select('cls').subtract(testDF.select('cls')).distinct().show()

#首先找到这些类，整理到一个列表
not_exist_cls = trainDF.select('cls').subtract(testDF.select('cls')).distinct().rdd.map(lambda x :x[0]).collect()
print(not_exist_cls)
#定义一个方法，用于检测
def should_remove(x):
    if x in not_exist_cls:
        return -1
    else :
        return x

#创建udf，udf函数需要两个参数：
# Function
# Return type (in my case StringType())

#在RDD中可以直接定义函数，交给rdd的transformatioins方法进行执行
#在DataFrame中需要通过udf将自定义函数封装成udf函数再交给DataFrame进行调用执行

from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

#这一步是封装
check = udf(should_remove,StringType())
#增加了New_cls的列，然后<>是不等于-1的就要，等于-1的就去除掉
resultDF = trainDF.withColumn('New_cls',check(trainDF['cls'])).filter('New_cls <> -1')

resultDF.show()

+---+
|cls|
+---+
|  1|
|  2|
+---+

['1', '2']
+---+-----------+----------+-----------+----------+-------+---+-------+
| id|SepalLength|SepalWidth|PetalLength|PetalWidth|Species|cls|New_cls|
+---+-----------+----------+-----------+----------+-------+---+-------+
|  1|        5.1|       3.5|        1.4|       0.2| setosa|  0|      0|
| 10|        4.9|       3.1|        1.5|       0.1| setosa|  0|      0|
| 11|        5.4|       3.7|        1.5|       0.2| setosa|  0|      0|
| 12|        4.8|       3.4|        1.6|       0.2| setosa|  0|      0|
| 13|        4.8|         3|        1.4|       0.1| setosa|  0|      0|
| 14|        4.3|         3|        1.1|       0.1| setosa|  0|      0|
| 15|        5.8|         4|        1.2|       0.2| setosa|  0|      0|
| 16|        5.7|       4.4|        1.5|       0.4| setosa|  0|      0|
| 17|        5.4|       3.9|        1.3|       0.4| setosa|  0|      0|
| 18|        5.1|       3.5|        1.4|       0.3| setosa|  0|      0|
| 19|        5.7|       3.8|        1.7|       0.3| setosa|  0|      0|
|  2|        4.9|         3|        1.4|       0.2| setosa|  0|      0|
| 20|        5.1|       3.8|        1.5|       0.3| setosa|  0|      0|
| 21|        5.4|       3.4|        1.7|       0.2| setosa|  0|      0|
| 22|        5.1|       3.7|        1.5|       0.4| setosa|  0|      0|
| 23|        4.6|       3.6|          1|       0.2| setosa|  0|      0|
| 24|        5.1|       3.3|        1.7|       0.5| setosa|  0|      0|
| 25|        4.8|       3.4|        1.9|       0.2| setosa|  0|      0|
| 26|          5|         3|        1.6|       0.2| setosa|  0|      0|
| 27|          5|       3.4|        1.6|       0.4| setosa|  0|      0|
+---+-----------+----------+-----------+----------+-------+---+-------+
only showing top 20 rows

# 5 JSON数据的处理

In [28]:
jsonString = [
"""{ "id" : "01001", "city" : "AGAWAM",  "pop" : 15338, "state" : "MA" }""",
"""{ "id" : "01002", "city" : "CUSHMAN", "pop" : 36963, "state" : "MA" }"""
]
jsonRDD = sc.parallelize(jsonString)   # stringJSONRDD
jsonDF =  spark.read.json(jsonRDD)  # convert RDD into DataFrame

In [29]:
#spark处理json会做类型推断
jsonDF.printSchema()

root
 |-- city: string (nullable = true)
 |-- id: string (nullable = true)
 |-- pop: long (nullable = true)
 |-- state: string (nullable = true)

In [30]:
jsonDF.show()

+-------+-----+-----+-----+
|   city|   id|  pop|state|
+-------+-----+-----+-----+
| AGAWAM|01001|15338|   MA|
|CUSHMAN|01002|36963|   MA|
+-------+-----+-----+-----+

In [31]:
jsonDF = spark.read.json("/USA.json")

In [34]:
# truncate=False
jsonDF.show()

+--------------------+--------------------+----+--------------------+-------+
|     _corrupt_record|            geometry|  id|          properties|   type|
+--------------------+--------------------+----+--------------------+-------+
|{"type":"FeatureC...|                null|null|                null|   null|
|                null|[WrappedArray(Wra...|  01|           [Alabama]|Feature|
|                null|[WrappedArray(Wra...|  02|            [Alaska]|Feature|
|                null|[WrappedArray(Wra...|  04|           [Arizona]|Feature|
|                null|[WrappedArray(Wra...|  05|          [Arkansas]|Feature|
|                null|[WrappedArray(Wra...|  06|        [California]|Feature|
|                null|[WrappedArray(Wra...|  08|          [Colorado]|Feature|
|                null|[WrappedArray(Wra...|  09|       [Connecticut]|Feature|
|                null|[WrappedArray(Wra...|  10|          [Delaware]|Feature|
|                null|[WrappedArray(Wra...|  11|[District of Colu...|Feature|
|                null|[WrappedArray(Wra...|  12|           [Florida]|Feature|
|                null|[WrappedArray(Wra...|  13|           [Georgia]|Feature|
|                null|[WrappedArray(Wra...|  15|            [Hawaii]|Feature|
|                null|[WrappedArray(Wra...|  16|             [Idaho]|Feature|
|                null|[WrappedArray(Wra...|  17|          [Illinois]|Feature|
|                null|[WrappedArray(Wra...|  18|           [Indiana]|Feature|
|                null|[WrappedArray(Wra...|  19|              [Iowa]|Feature|
|                null|[WrappedArray(Wra...|  20|            [Kansas]|Feature|
|                null|[WrappedArray(Wra...|  21|          [Kentucky]|Feature|
|                null|[WrappedArray(Wra...|  22|         [Louisiana]|Feature|
+--------------------+--------------------+----+--------------------+-------+
only showing top 20 rows

In [35]:
#去看每一部分的类型
jsonDF.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- geometry: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: array (containsNull = true)
 |    |    |    |-- element: array (containsNull = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- properties: struct (nullable = true)
 |    |-- name: string (nullable = true)
 |-- type: string (nullable = true)

In [36]:
jsonDF.filter(jsonDF.id>40).show(10)

+---------------+--------------------+---+----------------+-------+
|_corrupt_record|            geometry| id|      properties|   type|
+---------------+--------------------+---+----------------+-------+
|           null|[WrappedArray(Wra...| 41|        [Oregon]|Feature|
|           null|[WrappedArray(Wra...| 42|  [Pennsylvania]|Feature|
|           null|[WrappedArray(Wra...| 44|  [Rhode Island]|Feature|
|           null|[WrappedArray(Wra...| 45|[South Carolina]|Feature|
|           null|[WrappedArray(Wra...| 46|  [South Dakota]|Feature|
|           null|[WrappedArray(Wra...| 47|     [Tennessee]|Feature|
|           null|[WrappedArray(Wra...| 48|         [Texas]|Feature|
|           null|[WrappedArray(Wra...| 49|          [Utah]|Feature|
|           null|[WrappedArray(Wra...| 50|       [Vermont]|Feature|
|           null|[WrappedArray(Wra...| 51|      [Virginia]|Feature|
+---------------+--------------------+---+----------------+-------+
only showing top 10 rows

In [37]:
jsonDF.createOrReplaceTempView("tmp_table")

In [38]:
resultDF = spark.sql("select * from tmp_table where id>40")
resultDF.show(10)

+---------------+--------------------+---+----------------+-------+
|_corrupt_record|            geometry| id|      properties|   type|
+---------------+--------------------+---+----------------+-------+
|           null|[WrappedArray(Wra...| 41|        [Oregon]|Feature|
|           null|[WrappedArray(Wra...| 42|  [Pennsylvania]|Feature|
|           null|[WrappedArray(Wra...| 44|  [Rhode Island]|Feature|
|           null|[WrappedArray(Wra...| 45|[South Carolina]|Feature|
|           null|[WrappedArray(Wra...| 46|  [South Dakota]|Feature|
|           null|[WrappedArray(Wra...| 47|     [Tennessee]|Feature|
|           null|[WrappedArray(Wra...| 48|         [Texas]|Feature|
|           null|[WrappedArray(Wra...| 49|          [Utah]|Feature|
|           null|[WrappedArray(Wra...| 50|       [Vermont]|Feature|
|           null|[WrappedArray(Wra...| 51|      [Virginia]|Feature|
+---------------+--------------------+---+----------------+-------+
only showing top 10 rows

## 读取json格式指定类型

In [42]:
jsonString = [
"""{ "id" : "1001", "city" : "AGAWAM",  "pop" : 15338, "state" : "MA" }""",
"""{ "id" : "1002", "city" : "CUSHMAN", "pop" : 36963, "state" : "MA" }"""
]

jsonRDD = sc.parallelize(jsonString)

from pyspark.sql.types import *

#定义结构类型
#StructType：schema的整体结构，表示JSON的对象结构
#XXXStype:指的是某一列的数据类型
jsonSchema = StructType() \
  .add("id", StringType(),True) \
  .add("city", StringType()) \
  .add("pop" , LongType()) \
  .add("state",StringType())

# 如果类型不对，就会为null
# jsonSchema = StructType() \
#   .add("id", LongType(),True) \
#   .add("city", StringType()) \
#   .add("pop" , DoubleType()) \
#   .add("state",StringType())

reader = spark.read.schema(jsonSchema) #第一步先read schema

jsonDF = reader.json(jsonRDD)
jsonDF.printSchema()
jsonDF.show()

root
 |-- id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- pop: long (nullable = true)
 |-- state: string (nullable = true)

+----+-------+-----+-----+
|  id|   city|  pop|state|
+----+-------+-----+-----+
|1001| AGAWAM|15338|   MA|
|1002|CUSHMAN|36963|   MA|
+----+-------+-----+-----+

# 数据清洗  删除重复值，空值处理，异常值

In [52]:
'''
1.删除重复数据

groupby().count()：可以看到数据的重复情况
'''
df = spark.createDataFrame([
  (1, 144.5, 5.9, 33, 'M'),
  (2, 167.2, 5.4, 45, 'M'),
  (3, 124.1, 5.2, 23, 'F'),
  (4, 144.5, 5.9, 33, 'M'),
  (5, 133.2, 5.7, 54, 'F'),
  (3, 124.1, 5.2, 23, 'F'),
  (5, 129.2, 5.3, 42, 'M'),
], ['id', 'weight', 'height', 'age', 'gender'])

# 查看重复记录
#无意义重复数据去重：数据中行与行完全重复
# 1.首先删除完全一样的记录,变为6条了
df2 = df.dropDuplicates()
df2.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  5| 133.2|   5.7| 54|     F|
|  5| 129.2|   5.3| 42|     M|
|  1| 144.5|   5.9| 33|     M|
|  4| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
+---+------+------+---+------+

In [53]:
[c for c in df2.columns if c!='id']

['weight', 'height', 'age', 'gender']

In [54]:
#有意义去重：删除除去无意义字段之外的完全重复的行数据
# 2.其次，关键字段值完全一模一样的记录（在这个例子中，是指除了id之外的列一模一样）
# 删除某些字段值完全一样的重复记录，subset参数定义这些字段
df3 = df2.dropDuplicates(subset = [c for c in df2.columns if c!='id'])
df3.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  5| 133.2|   5.7| 54|     F|
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

In [55]:
# 3.有意义的重复记录去重之后，再看某个无意义字段的值是否有重复（在这个例子中，是看id是否重复）
# 查看某一列是否有重复值，就是把id取出来，在distinct id取出来，对比
import pyspark.sql.functions as fn
df3.agg(fn.count('id').alias('id_count'),fn.countDistinct('id').alias('distinct_id_count')).collect()

[Row(id_count=5, distinct_id_count=4)]

In [56]:
# 4.对于id这种无意义的列重复，添加另外一列自增id，仅仅是增加一个无意义的自增id而已
df3.withColumn('new_id',fn.monotonically_increasing_id()).show()

+---+------+------+---+------+-------------+
| id|weight|height|age|gender|       new_id|
+---+------+------+---+------+-------------+
|  5| 133.2|   5.7| 54|     F|  25769803776|
|  1| 144.5|   5.9| 33|     M| 171798691840|
|  2| 167.2|   5.4| 45|     M| 592705486848|
|  3| 124.1|   5.2| 23|     F|1236950581248|
|  5| 129.2|   5.3| 42|     M|1365799600128|
+---+------+------+---+------+-------------+

## 处理缺失值

In [57]:
'''
2.处理缺失值
2.1 对缺失值进行删除操作(行，列)
2.2 对缺失值进行填充操作(列的均值)
2.3 对缺失值对应的行或列进行标记
'''
df_miss = spark.createDataFrame([
(1, 143.5, 5.6, 28,'M', 100000),
(2, 167.2, 5.4, 45,'M', None),
(3, None , 5.2, None, None, None),
(4, 144.5, 5.9, 33, 'M', None),
(5, 133.2, 5.7, 54, 'F', None),
(6, 124.1, 5.2, None, 'F', None),
(7, 129.2, 5.3, 42, 'M', 76000),],
 ['id', 'weight', 'height', 'age', 'gender', 'income'])

df_miss.show()
print('-'*50)
# 1.计算每条记录的缺失值情况
#统计了每一行空值的个数
df_miss.rdd.map(lambda row:(row['id'],sum([c==None for c in row]))).collect()
# [(1, 0), (2, 1), (3, 4), (4, 1), (5, 1), (6, 2), (7, 0)]

+---+------+------+----+------+------+
| id|weight|height| age|gender|income|
+---+------+------+----+------+------+
|  1| 143.5|   5.6|  28|     M|100000|
|  2| 167.2|   5.4|  45|     M|  null|
|  3|  null|   5.2|null|  null|  null|
|  4| 144.5|   5.9|  33|     M|  null|
|  5| 133.2|   5.7|  54|     F|  null|
|  6| 124.1|   5.2|null|     F|  null|
|  7| 129.2|   5.3|  42|     M| 76000|
+---+------+------+----+------+------+

--------------------------------------------------

[(1, 0), (2, 1), (3, 4), (4, 1), (5, 1), (6, 2), (7, 0)]

In [58]:
# 2.计算各列的缺失情况百分比  fn.count(c)这一列多少个有值，fn.count(c)这个c为None不会记上的
df_miss.agg(*[(1 - (fn.count(c) / fn.count('*'))).alias(c + '_missing') for c in df_miss.columns]).show()

+----------+------------------+--------------+------------------+------------------+------------------+
|id_missing|    weight_missing|height_missing|       age_missing|    gender_missing|    income_missing|
+----------+------------------+--------------+------------------+------------------+------------------+
|       0.0|0.1428571428571429|           0.0|0.2857142857142857|0.1428571428571429|0.7142857142857143|
+----------+------------------+--------------+------------------+------------------+------------------+

In [59]:
# 3、删除缺失值过于严重的列
# 其实是先建一个DF，不要缺失值的列
df_miss_no_income = df_miss.select([c for c in df_miss.columns if c != 'income'])

df_miss_no_income

DataFrame[id: bigint, weight: double, height: double, age: bigint, gender: string]

In [61]:
# 4、按照缺失值删除行（thresh是根据一行记录中，缺失字段的百分比的定义,一行有3个缺少，代表要删除）
df_miss_no_income.dropna(thresh=3).show()

# 5、填充缺失值，可以用fillna来填充缺失值，
# 对于bool类型、或者分类类型，可以为缺失值单独设置一个类型，missing
# 对于数值类型，可以用均值或者中位数等填充

# fillna可以接收两种类型的参数：
# 一个数字、字符串，这时整个DataSet中所有的缺失值都会被填充为相同的值。
# 也可以接收一个字典｛列名：值｝这样

# 先计算均值,均值计算会自动的跳过null的地方
means = df_miss_no_income.agg(*[fn.mean(c).alias(c) for c in df_miss_no_income.columns if c != 'gender']).show()

+---+------+------+----+------+
| id|weight|height| age|gender|
+---+------+------+----+------+
|  1| 143.5|   5.6|  28|     M|
|  2| 167.2|   5.4|  45|     M|
|  4| 144.5|   5.9|  33|     M|
|  5| 133.2|   5.7|  54|     F|
|  6| 124.1|   5.2|null|     F|
|  7| 129.2|   5.3|  42|     M|
+---+------+------+----+------+

+---+------------------+-----------------+----+
| id|            weight|           height| age|
+---+------------------+-----------------+----+
|4.0|140.28333333333333|5.471428571428571|40.4|
+---+------------------+-----------------+----+

In [60]:
(28+45+33+54+42)/5

40.4

In [62]:
#可以把spark的df转换为pandas的df
import pandas
# 先计算均值，并组织成一个字典,records是pd的df转为字典的一种形式参数，这种最常用的
means = df_miss_no_income.agg( *[fn.mean(c).alias(c) for c in df_miss_no_income.columns if c != 'gender']).toPandas().to_dict('records')[0]
means

{'id': 4.0,
 'weight': 140.28333333333333,
 'height': 5.471428571428571,
 'age': 40.4}

In [46]:
# 然后添加其它的列
means['gender'] = 'missing'

df_miss_no_income.fillna(means).show()  #因为age是整型，填入的进行了取整

+---+------------------+------+---+-------+
| id|            weight|height|age| gender|
+---+------------------+------+---+-------+
|  1|             143.5|   5.6| 28|      M|
|  2|             167.2|   5.4| 45|      M|
|  3|140.28333333333333|   5.2| 40|missing|
|  4|             144.5|   5.9| 33|      M|
|  5|             133.2|   5.7| 54|      F|
|  6|             124.1|   5.2| 40|      F|
|  7|             129.2|   5.3| 42|      M|
+---+------------------+------+---+-------+

In [63]:
df_miss_no_income.printSchema()

root
 |-- id: long (nullable = true)
 |-- weight: double (nullable = true)
 |-- height: double (nullable = true)
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)

In [64]:
'''
3、异常值处理
异常值：不属于正常的值 包含：缺失值，超过正常范围内的较大值或较小值
分位数去极值
中位数绝对偏差去极值
正态分布去极值
上述三种操作的核心都是：通过原始数据设定一个正常的范围，超过此范围的就是一个异常值
'''
df_outliers = spark.createDataFrame([
(1, 143.5, 5.3, 28),
(2, 154.2, 5.5, 45),
(3, 342.3, 5.1, 99),
(4, 144.5, 5.5, 33),
(5, 133.2, 5.4, 54),
(6, 124.1, 5.1, 21),
(7, 129.2, 5.3, 42),
], ['id', 'weight', 'height', 'age'])
# 设定范围 超出这个范围的 用边界值替换

# approxQuantile方法接收三个参数：
# 参数1，列名；参数2：想要计算的分位点，可以是一个点，也可以是一个列表（0和1之间的小数），
# 第三个参数是能容忍的误差，如果是0，代表百分百精确计算。

cols = ['weight', 'height', 'age']

bounds = {}
for col in cols:
    quantiles = df_outliers.approxQuantile(col, [0.25, 0.75], 0.05)
    IQR = quantiles[1] - quantiles[0]
    bounds[col] = [
        quantiles[0] - 1.5 * IQR,
        quantiles[1] + 1.5 * IQR
        ]

print(bounds)
# {'age': [-11.0, 93.0], 'height': [4.499999999999999, 6.1000000000000005], 'weight': [91.69999999999999, 191.7]}

# 为异常值字段打标志,如果小于下线，或者大于上线
outliers = df_outliers.select(['id'] + [( (df_outliers[c] < bounds[c][0]) | (df_outliers[c] > bounds[c][1]) ).alias(c + '_o') for c in cols ])
outliers.show()
#
# +---+--------+--------+-----+
# | id|weight_o|height_o|age_o|
# +---+--------+--------+-----+
# |  1|   false|   false|false|
# |  2|   false|   false|false|
# |  3|    true|   false| true|
# |  4|   false|   false|false|
# |  5|   false|   false|false|
# |  6|   false|   false|false|
# |  7|   false|   false|false|
# +---+--------+--------+-----+

{'weight': [91.69999999999999, 191.7], 'height': [4.499999999999999, 6.1000000000000005], 'age': [-11.0, 93.0]}
+---+--------+--------+-----+
| id|weight_o|height_o|age_o|
+---+--------+--------+-----+
|  1|   false|   false|false|
|  2|   false|   false|false|
|  3|    true|   false| true|
|  4|   false|   false|false|
|  5|   false|   false|false|
|  6|   false|   false|false|
|  7|   false|   false|false|
+---+--------+--------+-----+

In [65]:
# 再回头看看这些异常值的值，重新和原始数据关联

df_outliers = df_outliers.join(outliers, on='id')
df_outliers.filter('weight_o').select('id', 'weight').show()
# +---+------+
# | id|weight|
# +---+------+
# |  3| 342.3|
# +---+------+

+---+------+
| id|weight|
+---+------+
|  3| 342.3|
+---+------+

In [66]:
#这个是年龄的
df_outliers.filter('age_o').select('id', 'age').show()
# +---+---+
# | id|age|
# +---+---+
# |  3| 99|
# +---+---+

+---+---+
| id|age|
+---+---+
|  3| 99|
+---+---+

In [68]:
df_outliers.filter('weight_o').show()

+---+------+------+---+--------+--------+-----+
| id|weight|height|age|weight_o|height_o|age_o|
+---+------+------+---+--------+--------+-----+
|  3| 342.3|   5.1| 99|    true|   false| true|
+---+------+------+---+--------+--------+-----+